<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50416296-1', 'cuneiform.io');
  ga('send', 'pageview');

</script>

<% if  I18n.locale == :en %>


	<div id="about">
		
	<h2>We are an <span>Iraqi-American</span> design and development team. Together with our clients we develop websites, web-based applications, and cloud solutions that are accessible on <span>any digital device</span>.</h2>

	<div id="about-column-container">
		<div class="about-column">
			<%=image_tag("essam.png", :size => "100x100", :alt => 'Essam') %>
			<h2>Essam</h2>
			<h3>Front and Back-End Development</h3>
			<p>Former chemist and internal auditor for a multinational corporation. Holds a BSc in Chemistry from the University of Baghdad, an MBA from the American University of Iraq, and an MSc in International Economics &amp; Finance from Valparaiso University in the US.</p>
			</div>
		<div class="about-column">
			<%=image_tag("tim.png", :size => "100x100", :alt => 'Tim') %>
				<h2>Tim</h2>
				<h3>Web Design and Cloud Solutions</h3>
				<p>Former management consultant for one of the world's largest consulting firms where he led the value analysis for health insurance clients on customer experience, front office strategy, and Obamacare reform projects. Over four years of experience working with Iraqi companies.</p>
			</div>
	</div>

	</div>

<%else%>

	<div id="about-ar">
		
	<h2>نحن فريق <span>عراقي-أمريكي</span> متخصص في تصميم و تطوير المواقع الأكترونية. جنبا إلى جنب مع عملائنا نقرم بتطوير المواقع والتطبيقات على شبكة الإنترنت، وحلول السحابة التي يمكن الوصول إليها بواسطة <span>أي جهاز رقمي</span>.</h2>

	<div id="about-column-container-ar">
		<div class="about-column-ar">
			<%=image_tag("essam.png", :size => "100x100", :alt => 'Essam') %>
			<h2>عصام</h2>
			<h3>تطوير النهاية الأمامية و الخلفية</h3>
			<p>كيميائي سابق ومدقق داخلي لشركة كبرى. حاصل على شهادة البكالوريوس في الكيمياء من جامعة بغداد، ماجستير في إدارة الأعمال من الجامعة الأمريكية في العراق، وعلى درجة الماجستير في الاقتصاد الدولي و المحاسبة من جامعة فالبارايسو في الولايات المتحدة.</p>
			</div>
		<div class="about-column-ar">
			<%=image_tag("tim.png", :size => "100x100", :alt => 'Tim') %>
				<h2>تم</h2>
				<h3>تصميم الويب وحلول الغيمة</h3>
				<p>مستشار سابق لأحدى الشركات الاستشارية الكبرى في العالم حيث قاد تحليل تجربة العملاء في مجال التأمين الصحي، واستراتيجية المكتب الأمامي، ومشاريع إصلاح أوباماكير. أكثر من أربع سنوات من الخبرة في العمل مع الشركات العراقية.</p>
			</div>
	</div>

	</div>

<%end%>	


