<div id="about">
	
<h2>We are an <span>Iraqi-American</span> design and development team. Together with our clients we develop websites, web-based applications, and cloud solutions that are accessible on <span>any digital device</span>.</h2>
<p>We bring more than just design and development to the table.</p>


</div>