
<% if  I18n.locale == :en %>


<div id="contact">
	
			<h2>Ready to get started?</h2>
	  <p>Let us know how we can help build your online presence.</p>
	  
	  <h3>email<br>
	  <span>hello@cuneiform.io</span></h3>
	  
	  <h3>phone<br>
		  <span>+1.415.379.0206</span></h3>
		  
		  <h3>skype<br>
			  <span>cuneiform.io</span></h3>
	  
	</div>


<%else%>

	<div id="contact-ar">
		
			<h2>هل أنت على استعداد للبدء؟</h2>
	  <p>إعلمونا بكيفية تمثيلكم وبناء عالمكم على الأنترنيت.</p>
	  
	  <h3>إيميل<br>
	  <span>hello@cuneiform.io</span></h3>
	  
	  <h3>هاتف<br>
		  <span>1.415.379.0206+</span></h3>
		  
		  <h3>سكايب<br>
			  <span>cuneiform.io</span></h3>
	  
	</div>

<%end%>


