<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50416296-1', 'cuneiform.io');
  ga('send', 'pageview');

</script>

<% if  I18n.locale == :en %>	

    <div id="home">
	
	
			<h2>Welcome to Cuneiform.</h2>
			
			<p>We bring the <span>best</span> of the web to Iraq and Kurdistan Region.</p>
    </div>

<%else%>

	<div id="home-ar">   

	        <h2>أهلا بكم الى كيونيفورم.</h2>
			
			<p>نحن نقدم <span>الأفضل</span> من خدمة المواقع الألكترونية في العراق و كوردستان.</p>
	</div>
	    

<%end%>



