
<% if  I18n.locale == :en %>
	<div id="services">
		
			<h2>We offer a complete, comprehensive, and high-quality package of services to meet <span>every need</span> of your online presence.</h2>
		
		<p>Most of Iraq's web development firms charge thousands of dollars for ready-made templates they purchased through a third party. These websites are often clunky and susceptible to security breaches. <span>And they rarely meet your needs.</span></p>

	</div>

	<div id="services-column-container">
		
		<div class="services-column">
			
			<h2>Design &amp; Strategy</h2>
			<ul>
				<li>website &amp; application design (adaptive, responsive)</li>
				<li>branding &amp; print design</li>
				<li>email marketing (MailChimp newsletter campaigns)</li>
				<li>internet marketing (AdSense, AdWords)
				<li>SEO &amp; analytics</li>
			</ul>
		</div>
		
		<div class="services-column">
			
			<h2>Development</h2>
			<ul>
				<li>front-end web development (Ruby on Rails, jQuery)</li>
				<li>back-end web development (MySQL, API integration)</li>
				<li>web application development</li>
				<li>shopping / e-commerce integration</li>
				<li>blog integration</li>
			</ul>
		</div>
		
		<div class="services-column">
			
			<h2>Content</h2>
			<ul>
				<li>full website content creation</li>
				<li>copywriting</li>
				<li>translation services</li>
				<li>marketing campaigns</li>
			</ul>
		</div>
		
		<div class="services-column">
			
			<h2>Cloud</h2>
			<ul>
				<li>customized web hosting (on servers housed in the US)</li>
				<li>customized enterprise email hosting (Google Apps)</li>
				<li>collaborative development environments (GitHub, Heroku)</li>
				<li>domain management</li>
			</ul>
		</div>
	</div>

<%else%>

	<div id="services-ar">
		
			<h2>نحن نقدم مجموعة كاملة وشاملة وذات جودة عالية من الخدمات لتلبية<span> كل حاجة </span> ضرورية لتغطية حضوركم على الانترنت.</h2>
		
		<p>معظم شركات تطوير المواقع الأكترونية في العراق تطلب الآلاف من الدولارات لقوالب جاهزة يتم شراؤها من خلال طرف ثالث. هذه المواقع غالبا ما تكون عرضة للخروقات الأمنية. <span>ونادرا ما تلبي احتياجاتك</span>.</p>

	</div>

	<div id="services-column-container-ar">
		

		<div class="services-column-ar">
			
			<h2>تطوير</h2>
			<ul>
				<li>تطوير الشبكة الأمامية (Ruby on Rails, jQuery)</li>
				<li>تطوير الشبكة الخلفية (MySQL, API integration)</li>
				<li>تطوير التطبيقات على شبكة الإنترنت</li>
				<li>تسوق /التجارة الإلكترونية</li>
				<li>المدوَّنات</li>
			</ul>
		</div>
		<div class="services-column-ar">
			
			<h2>تصميم و إستراتيجية </h2>
			<ul>
				<li>تصميم المواقع و التطبيقات (التكيف والاستجابة)</li>
				<li>طباعة وتصميم العلامات التجارية  </li>
				<li>البريد الإلكتروني والتسويق (حملات النشرة MailChimp)</li>
				<li>التسويق عبر الانترنت (AdSense، AdWords)</li>
				<li> تحليلات و SEO</li>
			</ul>
		</div>

		<div class="services-column-ar">
			
			<h2>السحابة</h2>
			<ul>
				<li>استضافة المواقع الألكترونية على شبكة الإنترنت (من خلال الولايات المتحدة)</li>
				<li> استضافة البريد الإلكتروني  (Google Apps)</li>
				<li>بيئات التطوير التعاوني (Github, Heroku)</li>
				<li>إدارة نطاقات الأنترنيت</li>
			</ul>
		</div>
		
		<div class="services-column-ar">
			
			<h2>محتوى</h2>
			<ul>
				<li>إنشاء محتوى الموقع بالكامل</li>
				<li>حقوق الطبع</li>
				<li>خدمات الترجمة</li>
				<li>حملات التسويق</li>
			</ul>
		</div>
		
		
	</div>

<%end%>


