<div id="services">
	
		<h2>We offer a complete, comprehensive, and high-quality package of services to meet <span>every need</span> of your online presence.</h2>
	
	<p>Most of Iraq's web development firms charge thousands of dollars for ready-made templates they purchased through a third party. These websites are often clunky and susceptible to security breaches. <span>And they rarely meet your needs.</span></p>

</div>

<div id="services-column-container">
	
	<div id="services-column">
		
		<h2>Design &amp; Strategy</h2>
		<ul>
			<li>website &amp; application design (adaptive, responsive)</li>
			<li>branding &amp; print design</li>
			<li>email marketing (MailChimp newsletter campaigns)</li>
			<li>internet marketing (AdSense, AdWords)
			<li>SEO &amp; analytics</li>
		</ul>
	</div>
	
	<div id="services-column">
		
		<h2>Development</h2>
		<ul>
			<li>front-end web development (Ruby on Rails, jQuery)</li>
			<li>back-end web development (MySQL, API integration)</li>
			<li>web application development</li>
			<li>shopping / e-commerce integration</li>
			<li>blog integration</li>
		</ul>
	</div>
	
	<div id="services-column">
		
		<h2>Content</h2>
		<ul>
			<li>full website content creation</li>
			<li>copywriting</li>
			<li>translation services</li>
			<li>marketing campaigns</li>
		</ul>
	</div>
	
	<div id="services-column">
		
		<h2>Cloud</h2>
		<ul>
			<li>customized web hosting (on servers housed in the US)</li>
			<li>customized enterprise email hosting (Google Apps)</li>
			<li>collaborative development environments (GitHub, Heroku)</li>
			<li>domain management</li>
		</ul>
	</div>
</div>

