/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

#nav{
	list-style: none;
	position: fixed;
	margin-bottom: 10px;
    text-align: center;
	background-color: white;
	opacity:0.4;
	width: 100%;		
}

.navbar ul {
	margin-top: 0%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 14%;
}

#nav li{
	float: left;		
}

#nav li a{
	text-decoration: none;
	color: black;
	font-family: 'Arvo', serif;
	font-size: 1em;
	font-weight: 900;
	padding: 10px;
	margin: 0%;
}

#nav li a:hover {
	color: red;
	border-bottom: solid black;
	}
	
	
/* pages content css 
====================== */
	
#home p  {
 padding: 20% 20% 10% 15%; 
}

#contact p  {
 padding: 20% 20% 10% 15%; 
 color: white;
}
#work p  {
 padding: 20% 20% 10% 15%; 
 color: white;
}
#services p  {
 padding: 20% 20% 10% 15%; 
 color: white;
}

#about p  {
 padding: 20% 20% 10% 15%; 
 color: white;
}










/*===================*/

#second{
	color: white;
	height: 650px;
	width: 1400px;
	margin-left: -110px;
	margin-top: -10px;
	color: white;
	
}

/*#second .bg{
	
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}
*/
#third{
	background-color: grey;
	height: 650px;
	width: 1400px;
	
}


#fourth{
	background-color: green;
	height: 650px;
	width: 1400px;
	
}

#fifth{
	background-color: pink;
	height: 650px;
	width: 1400px;
}

#intro {
	background-color: lightblue;
	background-attachment: fixed;
	height: 650px;
	margin-top: -16px;
	
		
}



@media (max-width: 480px) {


/* the media querries to be written here*/



}
