/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/


 #wrapper {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    }

.move-para {

padding-top: 170px !important;

}

.move-para-ar {

padding-top: 200px !important;

}

.expand {

	padding-top: 200px !important;

}

.shrink {
	padding-top: 800px !important;

}


.arabic a{
	font-family: 'Droid Arabic Kufi', serif !important;
	line-height: 100%;

}

.arabic a:hover{
	border-bottom: none !important;
}


.english a {
   font-family: 'Arvo', serif !important;

}

.english a:hover {
	border-bottom: none !important;
}


#nav {
	text-align: center;
	list-style: none;
	position: fixed;
	background-color: white;
	opacity: 0.4;
	width: 100%;
}

#nav-ar {
	text-align: center;
	list-style: none;
	position: fixed;
	background-color: white;
	opacity: 0.4;
	width: 100%;
}

#logo {
	position: absolute;
	margin: 2% 0% 0% 11%;
	position: fixed;
	z-index: 2;
}


#logo-ar {
	position: absolute;
	margin: 1.8% 0% 0% 89%;
	position: fixed;
	z-index: 2;

}
.navbar ul {
	padding-top: 0%;
	padding-bottom: 0%;
	padding-left: 14%;
    text-align: center;
}

.navbar-ar ul {
	padding-top: 0%;
	padding-bottom: 0%;
	padding-left: 60%;
    text-align: center;
}


#nav li {
	float: left;

}

#nav-ar li {
	float: left;

}

#nav li  {
	padding: 1% 1% 1% 1%;
	display: block;
}

#nav-ar li  {
	padding: 1% 1% 1% 1%;
	display: block;
	}

#nav li a {
	font-family: 'Arvo', serif;
	font-size: 1em;
	font-weight: 900;
	text-decoration: none;
	color: black;
	padding-bottom: 9px;

}
#nav-ar li a {
	font-family: 'Droid Arabic Kufi', serif;
	line-height: 0%;
	font-size: 1em;
	font-weight: 900;
	text-decoration: none;
	color: black;
	padding-bottom: 4px;

}

#nav a:hover {
	color: #c0392b;
    border-bottom: solid 4px #3498db;
	}

#nav-ar a:hover {
	color: #c0392b;
    border-bottom: solid 4px #3498db;
	}

.active {
	color: #c0392b !important;
    border-bottom: solid 4px #3498db;
}	





/* pages content css
====================== */

#home h2 {
    margin-left: 15%;
	padding: 15% 10% 1% 0%;
	font-family: 'Arvo', serif;
	color: #ecf0f1;
	font-weight: 400;
	letter-spacing: .1em;
	line-height: 1.4em;
}

#home-ar h2 {
	font-family: 'Droid Arabic Kufi', serif !important;
	letter-spacing: 1px !important;
    margin-right: 1.3%;
	padding: 15% 11% 1% 21.75%;
	font-size: 1.5em;
	font-family: 'Arvo', serif;
	color: #ecf0f1;
	font-weight: 400;
	letter-spacing: .1em;
	line-height: 1.4em;
	direction: rtl;
}

#home p  {
	margin-left: 15%;
	padding: 0% 15% 0% 0%;
	font-family: 'Arvo', serif;
	font-size: 2em;
	font-weight: 400;
	letter-spacing: .1em;
	line-height: 1.4em;
	color: #ecf0f1;
}

#home-ar p  {
	font-family: 'Droid Arabic Kufi', serif !important;
	letter-spacing: 1px !important;
	margin-right: 0%;
	padding: 0% 12% 0% 21.75%;
	font-size: 2em;
	font-weight: 400;
	line-height: 1.4em;
	color: #ecf0f1;
	direction: rtl;
}


#home p span {
	color: #c0392b;
}

#home-ar p span {
	color: #c0392b;
}


#contact p  {
 padding: 20% 20% 10% 15%;
 color: white;
}

#contact-ar p  {
 padding: 20% 20% 10% 15%;
 color: white;
}

#work p  {
 padding: 20% 20% 10% 15%;
 color: white;
}

#services p  {
 padding: 20% 20% 10% 15%;
 color: white;
}

#services-ar p  {
 padding: 20% 20% 10% 15%;
 color: white;
}

#about h2 {
	margin-left: 21.5%;
	padding: 5% 10% 1% 0%;
	font-family: 'Arvo', serif;
	color: #ecf0f1;
	font-weight: 400;
	letter-spacing: .1em;
	line-height: 1.4em;

}

#about-ar h2 {
	font-family: 'Droid Arabic Kufi', serif !important;
	letter-spacing: 1px !important;
	margin: 0;
	padding: 5% 11% 0% 25%;
	font-size: 1.5em;
	color: #ecf0f1;
	font-weight: 400;
	letter-spacing: .1em;
	line-height: 1.4em;
	direction: rtl;
}

#about p  {
	padding: 0% 14.75% 0% 21.5%;
 	font-family: 'Lato', sans-serif;
 	font-size: 1.25em;
 	font-weight: 300;
 	letter-spacing: .1em;
 	line-height: 1.4em;
 	color: #ecf0f1;
}

#about-ar p  {
	padding: 0% 14.75% 0% 21.5%;
 	font-family: 'Lato', sans-serif;
 	font-size: 1.25em;
 	font-weight: 300;
 	letter-spacing: .1em;
 	line-height: 1.4em;
 	color: #ecf0f1;
}

#about h2 span {
	color: #3498db;
}

#about-ar h2 span {
	color: #3498db;
}

#about-column-container {
	padding: 4% 9% 0% 14.75%;

}

#about-column-container-ar {
	padding: 4% 9% 0% 14.75%;

}

.about-column {
	width: 50%;
	float: left;
}

.about-column-ar {
	width: 50%;
	float: left;
}

.about-column h2 {
	font-size: 1.5em;
	font-family: 'Arvo', serif;
	color: #c0392b !important;
	font-weight: 400;
	letter-spacing: .1em;
	text-align: center;
	
}
.about-column-ar h2 {
	font-size: 1.5em;
	font-family: 'Arvo', serif;
	color: #c0392b !important;
	font-weight: 400;
	letter-spacing: .1em;
	text-align: center;
	
	direction: rtl;
}

.about-column p {
	color: #ecf0f1;
	font-size: .8em !important;
	font-family: 'Lato', sans-serif;
	color: #ecf0f1;
	font-weight: 300;
	letter-spacing: .1em;
}

.about-column-ar p {
	font-family: 'Droid Arabic Kufi', serif !important;
	letter-spacing: 1px !important;
	color: #ecf0f1;
	font-size: .8em !important;
	color: #ecf0f1;
	font-weight: 300;
	direction: rtl;
}

.about-column h3 {
	font-family: 'Arvo', serif;
	font-size: .8em;
	text-align: center;
	color: #ecf0f1;
	font-weight: 400;
	letter-spacing: .1em;
	padding-left: 1%;
	padding-bottom: 1%;
}

.about-column-ar h3 {
	font-family: 'Droid Arabic Kufi', serif !important;
	letter-spacing: 1px;
	font-size: .8em;
	text-align: center;
	color: #ecf0f1;
	font-weight: 400;
	padding-left: 12%;
	padding-bottom: 1%;
	direction: rtl;
}

.about-column img {
	padding-left: 44%;
	margin-bottom: -5%;
}
.about-column-ar img {
	padding-left: 47%;
	margin-bottom: -5%;
}

.about-column h2:before {
	display: inline-block;
    margin: 0 10px 8px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #7f8c8d;
    width: 27%;
}

.about-column-ar h2:before {
	display: inline-block;
    margin: 0 10px 8px 20px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #7f8c8d;
    width: 27%;
}

.about-column h2:after {
    display: inline-block;
    margin: 0 20px 8px 10px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #7f8c8d;
    width: 27%;
}

.about-column-ar h2:after {
    display: inline-block;
    margin: 0 20px 8px 10px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #7f8c8d;
    width: 27%;
}

#services {
	padding-top: 0px;
}

#services h2 {
	margin: 0;
	padding: 5% 14.75% 0% 14.75%;
	font-size: 1.5em;
	font-family: 'Arvo', serif;
	color: #ecf0f1;
	font-weight: 400;
	letter-spacing: .1em;
	line-height: 1.4em;
}

#services-ar h2 {
	font-family: 'Droid Arabic Kufi', serif !important;
	margin: 0;
	padding: 5% 12.2% 0% 25%;
	font-size: 1.5em;
	font-family: 'Arvo', serif;
	color: #ecf0f1;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.4em;
	direction: rtl;
}

#services p  {
	padding: 0% 14.75% 0% 14.75%;
 	font-family: 'Lato', sans-serif;
 	font-size: 1.25em;
 	font-weight: 300;
 	letter-spacing: .1em;
 	line-height: 1.4em;
 	color: #ecf0f1;
 	
}

#services-ar p  {
	font-family: 'Droid Arabic Kufi', serif !important;
	letter-spacing: 1px;
	padding: 0% 12.5% 0% 14.75%;
 	font-family: 'Lato', sans-serif;
 	font-size: 1.25em;
 	font-weight: 300;
 	line-height: 1.4em;
 	color: #ecf0f1;
 	direction: rtl;
}

#services h2 span {
	color: #3498db;
}

#services-ar h2 span {
	color: #3498db;
	direction: rtl
}

#services p span {
	color: #3498db;
	font-weight: 500;
}

#services-ar p span {
	color: #3498db;
	font-weight: 500;
	letter-spacing: 0.5px;
	direction: rtl
}

#services-column-container {
	padding: 2% 14.75% 0% 14.75%;

}

#services-column-container-ar {
	padding: 2% 14.75% 0% 14.75%;
	direction: rtl;

}

#services-column-container:before {
	display: inline-block;
    margin: -10px 0px 30px 0px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #ecf0f1;
    width: 100%;
}

#services-column-container-ar:before {
	display: inline-block;
    margin: 0px -30px 30px 0px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background-color: #ecf0f1;
    width: 100%;

}

.services-column {
	width: 50%;
	float: left;
}

.services-column-ar {
	width: 50%;
	float: left;
	font-family: 'Droid Arabic Kufi', serif !important;
	letter-spacing: 1px;

}

.services-column h2 {
	font-size: 1em;
	font-family: 'Arvo', serif;
	color: #ecf0f1;
	font-weight: 400;
	letter-spacing: .1em;
}

.services-column-ar h2 {
	font-size: 1em;
	margin-right: -6%;
	font-family: 'Droid Arabic Kufi', serif !important;
	letter-spacing: 1px;
	color: #ecf0f1;
	font-weight: 400;
	
}

.services-column ul {
	color: #ecf0f1;
	font-size: .8em;
	font-family: 'Lato', sans-serif;
	color: #ecf0f1;
	font-weight: 300;
	letter-spacing: .1em;
	padding-bottom: 5%;
}

.services-column-ar ul {
	margin-right: 5%;
	color: #ecf0f1;
	font-size: .69em;
	font-family: 'Droid Arabic Kufi', serif !important;
	letter-spacing: 1px;
	color: #ecf0f1;
	font-weight: 300;
	letter-spacing: .1em;
	padding-bottom: 5%;
}

.services-column li {
	line-height: 150%;
}

.services-column-ar li {
	line-height: 150%;
}

#contact h2 {
	margin: 0;
	padding: 5% 21% 0% 14.75%;
	font-size: 1.5em;
	font-family: 'Arvo', serif;
	color: #ecf0f1;
	font-weight: 400;
	letter-spacing: .1em;
	line-height: 1.4em;
}


#contact-ar h2 {
	margin: 0;
	padding: 5% 12% 0% 0%;
	font-size: 1.5em;
	color: #ecf0f1;
	font-weight: 400;
	letter-spacing: .1em;
	line-height: 1.4em;
	direction: rtl;
	letter-spacing: 1px;
	font-family: 'Droid Arabic Kufi', serif !important;

}

#contact p  {
	margin: 0;
	padding: .5% 21% 2% 14.75%;
	font-family: 'Arvo', serif;
 	font-size: 1.25em;
 	font-weight: 300;
 	letter-spacing: .1em;
 	line-height: 1.4em;
 	color: #ecf0f1;
}
#contact-ar p  {
	margin: 0;
	padding: .5% 12% 2% 14.75%;
 	font-size: 1.25em;
 	font-weight: 300;
 	letter-spacing: .1em;
 	line-height: 1.4em;
 	color: #ecf0f1;
 	direction: rtl;
 	letter-spacing: 1px;
	font-family: 'Droid Arabic Kufi', serif !important;

}


#contact h2 span {
	color: #3498db;

}

#contact p span {
	color: #3498db;
	font-weight: 500;
}

#contact h3 {
	font-size: 1em;
	font-family: 'Arvo', serif;
	color: #ecf0f1;
	font-weight: 400;
	letter-spacing: .1em;
	padding: 0% 21% 0% 14.75%;

}

#contact h3 span {
	color: #3498db;
	line-height: 3em;
	font-size: .8em;

}

#contact-ar h3 span {
	color: #3498db;
	line-height: 3em;
	font-size: .8em;
	letter-spacing: 1px;
	font-family: 'Droid Arabic Kufi', serif !important;


}


#contact-ar h2 span {
	color: #3498db;
	letter-spacing: 1px;
	font-family: 'Droid Arabic Kufi', serif !important;

}

#contact-ar p span {
	color: #3498db;
	font-weight: 500;
	direction: rtl;
	letter-spacing: 1px;
	font-family: 'Droid Arabic Kufi', serif !important;

}

#contact-ar h3 {
	font-size: 1em;
	font-family: 'Arvo', serif;
	color: #ecf0f1;
	font-weight: 400;
	letter-spacing: .1em;
	padding: 0% 12% 0% 14.75%;
	direction: rtl;
	letter-spacing: 1px;
	font-family: 'Droid Arabic Kufi', serif !important;


}

#contact-ar h3 span {
	color: #3498db;
	line-height: 3em;
	font-size: .8em;
	font-family: 'Arvo', serif !important;
	direction: rtl;


}


/*===================*/
#intro, #intro-ar {
	background: url('background-intro.png') no-repeat center center fixed ;
	background-size: cover;
	background-position: 0% 100%;
	height: 800px;
	margin-left: 0px;
	margin-top: -20px;
	padding-bottom: 2%;
}

#second, #second-ar{
	background: url('background-tigris-44.png') no-repeat center center fixed;
	background-size: cover;
	background-position: 0px 100%;
	height: 800px;
	margin-left: -110px;
	margin-top: -10px;
	padding-bottom: 2%;

}


#third, #third-ar{
	background: url('background-intro.png') no-repeat fixed;
	background-size: cover;
	background-position: 0px 100%;
	height: 800px;
	margin-left: 0px;
	margin-top: -16px;


}


#fifth, #fifth-ar{
	background: url('background-tigris-44.png') no-repeat center center fixed;
	background-size: cover;
	background-position: 0px 100%;
	height: 800px;
	margin-left: 0px;
}


.navbar-mob {
	display: none;

}

.navbar-ar-mob {
	display: none;

}
 


/* Media
=============
Medium Resulutions
=================*/


@media (max-width: 1000px) {

#logo  {
	top: -1%;
	left: -10%;
}

#logo-ar  {
	top: -1%;
	right: 9%;
}


#intro, #intro-ar {
	background: url('background-intro.png') no-repeat center center fixed ;
	background-size: cover;
	background-position: 100% 0%;
	height: 800px;
	margin-left: 0px;
	margin-top: -20px;
	padding-bottom: 2%;
}


#second, #second-ar{
	background: url('background-tigris-44.png') no-repeat center center fixed;
	background-size: cover;
	background-position: 100% 0%;
	height: 800px;
	margin-left: -110px;
	margin-top: -10px;
	padding-bottom: 2%;

}


#third, #third-ar{
	background: url('background-intro.png') no-repeat fixed;
	background-size: cover;
	background-position: 100% 0%;
	height: 800px;
	margin-left: 0px;
	margin-top: -16px;


}


#fifth, #fifth-ar{
	background: url('background-tigris-44.png') no-repeat center center fixed;
	background-size: cover;
	background-position: 100% 0%;
	height: 650px;
	margin-left: 0px;
}


#nav {
	display: none;

}

#nav-ar {
	display: none;

}

.navbar-mob {
	position: fixed;
	margin-top: 4%;
	margin-left: 30%;
	text-align: center;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;	
	text-decoration: none;
	color: black;
	opacity: 0.3;
	width: 15%;
	padding-top: 0%;
	padding-bottom: -2%;
	width: 40%;

}

.navbar-ar-mob {
	position: fixed;
	margin-top: 8%;
	margin-left: 30%;
	text-align: center;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;	
	text-decoration: none;
	color: black;
	opacity: 0.3;
	width: 15%;
	padding-top: 0%;
	padding-bottom: -2%;
	width: 40%;

}

#nav-mob li {

	font-size: 1em;
	font-weight: 900;
	color: black;
	padding-bottom: 4%;
	padding-top: 4%;
	list-style: none !important;
	border: 1px solid black;
}


#nav-ar-mob li {
	font-size: 1em;
	font-weight: 900;
	color: black;
	padding-bottom: 2%;
	padding-top: 2%;
	list-style: none !important;
	border: 1px solid black;
}

#nav-mob li a{
	font-family: 'Arvo', serif;
	color: black;
	text-shadow: none;
	padding: 5%;
	text-decoration: none;
}

#nav-ar-mob li a{
	font-family: 'Droid Arabic Kufi', serif;
	color: black;
	text-shadow: none;
	padding: 0%;
	text-decoration: none;

}

#nav-mob li a:hover {
color: #c0392b !important;
}

#nav-ar-mob li a:hover {
color: #c0392b !important;
}



.active-mob {
   color: #c0392b !important;
}

ul#nav-mob  {
	margin-top: 0%;
	margin-bottom: 0%;
	padding-left: 0%;
}

ul#nav-ar-mob  {
	margin-top: 0%;
	margin-bottom: 0%;
	padding-left: 0%;
}

  
.navbar a.pull {  
    display: block; 
    position: fixed; 
    width: 100%;  
    position: relative; 
	width: 100%; 
} 

.navbar-ar a.pull {  
    display: block; 
    position: fixed; 
    width: 100%;  
    position: relative; 
	width: 100%; 
}  

.navbar a.pull:after {  
    content:"";  
    background: url('nav-icon.png') no-repeat ; 
    position: fixed; 
    width: 40%;  
    height: 10%;    
    display: inline-block;  
    left: 95%;  
    top: 3.5%;  
}  

.click {
	opacity: 0.4;
}

.navbar-ar a.pull:after {  
    content:"";  
    background: url('nav-icon.png') no-repeat ; 
    position: fixed; 
    width: 40%;  
    height: 30%;  
    display: inline-block;  
    left: 5%;  
    top: 2%;  
}  


#home h2 {
	padding-top: 15%;
	font-size: 1.5em !important;
}

#home-ar h2 {
	padding-top: 15%;
	font-size: 1.5em !important;
}


#about h2 {
	padding-top: 5%;
	font-size: 1em !important;

}

#about-ar h2 {
	padding-top: 5%;
}

#services h2 {
	padding-top: 5%;
}

#services-ar h2 {
	padding-top: 5%;

}


#contact h2 {
	padding-top: 13%;
}

#contact-ar h2 {
	padding-top: 13%;
}

.services-column {
	font-size: 0.5em !important;
}

.services-column-ar {
	font-size: 0.9em !important;
}









}



/* Media
=============
medium Resulutions
=================*/

@media (max-width: 700px)  {


#intro, #intro-ar {
	background: url('background-intro.png') no-repeat center center fixed ;
	background-size: cover;
	background-position: 100% 0%;
	height: 800px;
	margin-left: 0px;
	margin-top: -20px;
	padding-bottom: 2%;
}

#second, #second-ar{
	background: url('background-tigris-44.png') no-repeat center center fixed;
	background-size: cover;
	background-position: 0px 100%;
	height: 900px;
	margin-left: -110px;
	padding-top: 30px;
	padding-bottom: 2%;

}

.navbar-ar-mob {
	position: fixed;
	margin-top: 4%;
	margin-left: 30%;
	text-align: center;
	background-color: white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;	
	text-decoration: none;
	color: black;
	opacity: 0.3;
	width: 15%;
	padding-top: 0%;
	padding-bottom: -2%;
	width: 40%;

}

#home {
	padding-top: 4%;
}
#home-ar {
	padding-top: 4%;
}

#logo-ar {
	margin-right: -5%;
}

#about {
	margin-left: 3%;
	margin-top: 20px;
}	


#about-ar {
	margin-left: 3%;
	margin-top: -20px;
}	
#about h2 {
	margin-top: -8%;
	font-size: 0.6em !important;
	margin-bottom: -4%;
}

#about-ar h2 {
	margin-top: 0%;
	font-size: 0.6em !important;
	margin-bottom: -4%;
}

.about-column img {
	width: 20%;
	height: 20%;
	margin-bottom: 3% !important;
	margin-bottom: -5%;
}

.about-column-ar img {
	width: 20%;
	height: 20%;
	margin-top: 3%;
	margin-bottom: -2%;
}

.about-column h2 {
	margin-bottom: 0.5% !important;
	margin-top: -9% !important;
}

.about-column-ar h2 {
	margin-bottom: 0.5% !important;
	margin-top: -5% !important;
}

#services h2 {
	margin-top: -10%;
	margin-left: -5%;
	font-size: 0.6em !important;
}

#services-ar h2 {
	margin-top: 0%;
	margin-left: -5%;
	font-size: 0.6em !important;
}

.services-column-ar {
	font-size: 0.5em !important;
}

#services p {
	display: none;
}
#services-ar p {
	display: none;
}

#services-column-container:before {
	display: none;  
}

#services-column-container-ar:before {
	display: none;
}

#services-column {
	font-size: 0.1em !important;
}

#services-column-ar {
	font-size: 0.1em !important;
}

#contact {
	margin-left: -5%;
}


#contact h2 {
	padding-top: 5%;
	font-size: 0.7em !important;

}

#contact-ar h2 {
	padding-top: 4%;
	font-size: 0.7em !important;
}

#contact-ar p {
	font-size: 0.5em !important;
}


#contact h3 {
	font-size: 0.8em !important;
}

#contact-ar h3 {
	font-size: 0.8em !important;
	margin-top: -1%;
}













}




/* Media
=============
Small Resulutions
=================*/


@media (max-width: 500px) {


     
 .navbar-mob {
	display: none;
	position: fixed;
	margin-top: 7%;
	margin-left: 33%;
	text-align: center;	

}  


.navbar a.pull:after {  
    content:"";  
    background: url('nav-icon.png') no-repeat ; 
    position: fixed; 
    width: 40%;  
    height: 10%;  
    display: inline-block;  
    left: 90%;  
    top: 3%;  
}  


#home h2 {
	padding-top: 25%;
	font-size: 2em !important;
}  

#home-ar h2 {
	padding-top: 25%;
	font-size: 2em !important;
}  


#home p {

	font-size: 1.5em !important;

}

#home-ar p {

	font-size: 1.5em !important;

}


#about h2 {
	margin-left: 35%;
	padding-top: 10%;
	font-size: 0.7em !important;
}

#about-ar h2 {
	padding-top: 10%;
	padding-left: 34%;
	font-size: 0.7em !important;
}

.about-column {
	width: 80%;
    padding-left: 14%;
    padding-top: 6%; 
    text-align: center; 


}

.about-column-ar {
	width: 80%;
    padding-left: 14%;
    padding-top: 3%;
    text-align: center; 


}

.about-column img {
	display: none;
}

.about-column-ar img {
	display: none;
}


.about-column h2 {
	margin-left: 14% !important;
	margin-top: -15% !important;
	font-size: 2em !important;
}

.about-column-ar h2 {
	position: absolute;
	margin-left: 8% !important;
	margin-top: -16% !important;
    padding-top: -5% !important;
	font-size: 2em !important;
}

.about-column  {
	font-size: 1em !important;
		margin-left: 4% !important;

}

.about-column-ar {
	font-size: 1em !important;
	margin-left: 8% !important;
	margin-top: 5%;
}

.about-column  p {
	font-size: 0.5em !important;
}

.about-column-ar p {
	font-size: 0.5em !important;
}


.about-column h2:before {
	display: none;
}


.about-column-ar h2:before {
	display: none;
}

.about-column h2:after {
	display: none;
}

.about-column-ar h2:after {
	display: none;
}

#services h2 {
	padding-top: 12%;
	font-size: 0.7em !important;
	padding-bottom: 3%;
}

#services-ar {
	margin-right: 2%;
}

#services-ar h2 {
	padding-top: 10%;
	font-size: 1em !important;
	padding-bottom: 3%;
}

#services {
	margin-left: 5%;
}


#services p {
	display: none;
}

#services-ar p {
	display: none;
}


.services-column {
	margin-top: -5%;
	width: 100%;
	font-size: 0.6em !important;
}

.services-column-ar {
	margin-top: -5%;
	width: 100%;
	font-size: 0.6em !important;
}


#services-column-container:before {
	display: none;
   

}

#services-column-container-ar:before {
	display: none;
   

}

#contact {
	margin-left: 4%;
}

#contact h2 {
	padding-top: 20%;
	font-size: 1.5em !important;
	text-align: center;
}

#contact-ar h2 {
	padding-top: 10%;
	margin-left: 10%;
	font-size: 1.5em !important;
	text-align: center;
}


#contact p {
	display: none;
}


#contact-ar p {
	display: none;
}


#contact h3 {
	font-size: 1.5em !important;
	text-align: center;
}


#contact-ar h3 {
	font-size: 1.5em !important;
	text-align: center;
}

#logo  {
	display: block !important;
	top: 1%;
	left: -9%;
}

#logo-ar  {
	top: 0%;
	left: -1%;
}























}




