/*
 Width: 1500px
 # Columns : 12 
 Column width: 114px
 Gutter : 12px 
 */
.grid_1 { width: 7.6%; }
.grid_2 { width: 16.6%; }
.grid_3 { width: 25%; }
.grid_4 { width: 33.4%; }
.grid_5 { width: 41.8%; }
.grid_6 { width: 50.2%; }
.grid_7 { width: 58.6%; }
.grid_8 { width: 67%; }
.grid_9 { width: 75.4%; }
.grid_10 { width: 83.8%; }
.grid_11 { width: 92.2%; }
.grid_12 { width: 100%; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin: 0 20px 10px 0;
	float: left;
	display: block;
}

.alpha{margin-left:0px;}
.omega{margin-right:0px;
	
}

.container{
	width: 100%; 
	margin: auto;

}



.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}